*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
}
a{
  text-decoration: none;
  color: inherit;
}

.app.light {
  background-color: white;
  color: black;
}


.app.dark {
  background-color: #494848;
  color: white;
}

