
.sale {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  
  .sale h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .sale h3 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #333;
  }
  
  
  .sale-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #555;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="date"],
  input[type="checkbox"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
  }
  
  input[type="checkbox"] {
    width: auto;
  }
  
  button[type="submit"] {
    padding: 12px 20px;
    font-size: 16px;
    color: white;
    background-color: #2b0876;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  
  p {
    font-size: 16px;
    margin-top: 20px;
    color: #d9534f;
  }
  
  
  .promo-codes-container {
    margin-top: 20px;
  }
  
  
  .promo-codes-list {
    max-height: 300px;
    overflow-y: auto;
    padding: 0;
    list-style-type: none;
  }
  
  .promo-code-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: #f4f4f4;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .promo-code-item span {
    font-size: 16px;
    color: #333;
  }
  
  .promo-code-item button {
    padding: 5px 10px;
    font-size: 14px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .promo-code-item button:hover {
    background-color: darkred;
  }
  
  
  .promo-codes-list::-webkit-scrollbar {
    width: 8px;
  }
  
  .promo-codes-list::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
  }
  
  .promo-codes-list::-webkit-scrollbar-thumb:hover {
    background: #888;
  }
  
  .promo-codes-list::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  
  @media (max-width: 600px) {
    .sale {
      padding: 15px;
    }
  
    .sale h2 {
      font-size: 20px;
    }
  
    .sale h3 {
      font-size: 18px;
    }
  
    .sale-form {
      margin-top: 10px;
    }
  
    input[type="text"],
    input[type="number"],
    input[type="date"],
    button[type="submit"] {
      font-size: 14px;
    }
  }
  
  